/* #nav {
    border-radius: 40% ;
    padding: 0;
}

#titre {
    color: aqua ;
}


#sitename {
    font-family: 'Lexend Deca', sans-serif;
}
*/

/* ------------------------------ BASE.HTML (HEADER / FOOTER) --------------------------*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(216, 208, 236);
}

/*  logo noir */
#logo {
  height: 70px;
  display: none;
}

.header {
  height: 123px;
}
/* photo header */
#teamimg {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

/*
        *
        * ==========================================
        * CUSTOM UTIL CLASSES
        * ==========================================
        * -------------GESTION DE LA NAVBAR-----------------------
        */
.navbar {
  transition: all 0.4s;
  width: 100%;
  background-color: #16264A;
  margin-bottom: 20px;

}
.home{
  transition: all 0.4s;
  width: 100%;
  background-color: #16264A00;
  margin-bottom: 20px;

}


.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #fff;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #fff;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
  color: #16264A;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand {
  color: #555;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .home{
    background-color: #16264a00;
  }
  .navbar {
    background-color: #16264a;
  }

  #logoblanc {
    height: 60px; 
  }

  #logo {
    height: 60px;
    display: none;
  }
  .navbar .navbar-brand,
  .navbar .nav-link {
    color: #16264A;
  }
}

/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/
.text-small {
  font-size: 0.9rem !important;
}

#body {
  min-height: 110vh;
  background-color: #f8f9fa;
  /* background-image: linear-gradient(135deg, #0d4364 0%, #c4e0e5 100%); */
}


/*------------------- Homepage ----------------------*/


.match-info {
  font-size:12px;
}

.team-matchbox{
  font-size:12px;
}

.versus{
  font-size:12px;
}


.upcoming-bg{
  background-color: #16264A;
  color: rgb(249, 250, 250);
  border-radius: 0.25em;
}

.bgblue{
  background-color: #16264A;
  color: rgb(249, 250, 250);
}


.card{
  padding: 1.5em .5em .5em;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  border-radius: 1.25em ;
}



h5{
  border-top-right-radius : 0.25em;
  border-top-left-radius : 0.25em;
}

/*------------------- Page profil ------------------*/
.photo {
  height: 225px;
  width: auto;
}

/*----------------------- Page effectif -------------*/


.photojoueur {
  display: block;
  width: 100%;
  height: 80%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #16264A;
}

.overlay:hover {
  opacity: 1;
  height: auto;
  width: 100%;
}

.text {
  opacity: 1;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


/*----------------------- page match ---------------------*/
.match-card{
  background-color: #16264A;
  color: antiquewhite;
  height: 230px;
  width: 100%;
  padding: 0;
}

.match-title{
  font-size: 14px;
}

#logo-match{
  height: 30px;
  width: auto;
}

.nav-pills .nav-item .nav-link{
  color: #16264A;
}

.nav-pills .nav-item .nav-link.active{
  background-color: #16264A;
}






/*--------------- page connexion ---------------*/
* {
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  margin: 0;
}


h4 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
  opacity: 0.85;
}

label {
  font-size: 12.5px;
  color: #000;
  opacity: 0.8;
  font-weight: 400;
}

form {
  padding: 40px 30px;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 20px;
  width: 300px;
}
form h4 {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
}
form h4 span {
  color: black;
  font-weight: 700;
}
form p {
  line-height: 155%;
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
  opacity: 0.65;
  font-weight: 400;
  max-width: 200px;
  margin-bottom: 40px;
}

a.discrete {
  color: #16264A;
  font-size: 14px;
  border-bottom: solid 1px rgba(0, 0, 0, 0);
  padding-bottom: 4px;
  margin-left: auto;
  font-weight: 300;
  transition: all 0.3s ease;
  margin-top: 40px;
}
a.discrete:hover {
  border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

button {
  -webkit-appearance: none;
  width: auto;
  min-width: 100px;
  border-radius: 24px;
  text-align: center;
  padding: 15px 40px;
  margin-top: 5px;
  background-color: #16264A;
  color: #fff;
  font-size: 14px;
  margin-left: auto;
  font-weight: 500;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.13);
  border: none;
  transition: all 0.3s ease;
  outline: 0;
}
button:hover {
  transform: translateY(-3px);
  box-shadow: 0 2px 6px -1px rgba(182, 157, 230, 0.65);
}
button:hover:active {
  transform: scale(0.99);
}

input {
  font-size: 16px;
  padding: 20px 0px;
  height: 56px;
  border: none;
  border-bottom: solid 1px rgba(0, 0, 0, 0.1);
  background: #fff;
  width: 280px;
  box-sizing: border-box;
  transition: all 0.3s linear;
  color: #000;
  font-weight: 400;
  -webkit-appearance: none;
}
input:focus {
  border-bottom: solid 1px #b69de6;
  outline: 0;
  box-shadow: 0 2px 6px -8px rgba(182, 157, 230, 0.45);
}

.floating-label {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}
.floating-label label {
  position: absolute;
  top: calc(50% - 7px);
  left: 0;
  opacity: 0;
  transition: all 0.3s ease;
  padding-left: 44px;
}
.floating-label input {
  width: calc(100% - 44px);
  margin-left: auto;
  display: flex;
}
.floating-label .icon {
  position: absolute;
  top: 0;
  left: 0;
  height: 56px;
  width: 44px;
  display: flex;
}
.floating-label .icon svg {
  height: 30px;
  width: 30px;
  margin: auto;
  opacity: 0.15;
  transition: all 0.3s ease;
}
.floating-label .icon svg path {
  transition: all 0.3s ease;
}
.floating-label input:not(:-moz-placeholder-shown) {
  padding: 28px 0px 12px 0px;
}
.floating-label input:not(:-ms-input-placeholder) {
  padding: 28px 0px 12px 0px;
}
.floating-label input:not(:placeholder-shown) {
  padding: 28px 0px 12px 0px;
}
.floating-label input:not(:-moz-placeholder-shown) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
.floating-label input:not(:-ms-input-placeholder) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}
.floating-label input:not(:placeholder-shown) + label {
  transform: translateY(-10px);
  opacity: 0.7;
}





.session {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: auto;
  margin: auto auto;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0px 2px 6px -1px rgba(0, 0, 0, 0.12);
}

.left {
  width: 220px;
  height: auto;
  min-height: 100%;
  position: relative;
  background-color : #16264A;
  background-size: cover;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.left img {
  height: 100px;
  width: auto;
  margin: 20px;
}





@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 150px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 150px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  width: 250px;
  height: auto;
}




.col_white_amrc { color:#FFF;}
footer { width:100%; min-height:250px; padding:10px 0px 25px 0px ; position: absolute;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#CCC;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { border-bottom:1px solid #323f45; padding-bottom:20px;}
.foote_bottom_ul_amrc {
	list-style-type:none;
	padding:0px;
	display:table;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 10px;
	margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

.footer a { color: #FFF}




.col-md-3{
  display: inline-block;
  margin-left:-4px;
}
.col-md-3 img{
  width:100%;
  height:auto;
}
body .carousel-indicators li{
  background-color:#16264A;
}
body .carousel-control-prev-icon,
body .carousel-control-next-icon{
  background-color:#16264A;
}
body .no-padding{
  padding-left: 0;
  padding-right: 0;
}