{% extends 'fcpoto/base.html' %}


{% block title %} FC Poto | Blogs {% endblock %}
{% block content %}
<br>
<br>
<div class='container-fluid'>
<div class="card-columns">
    {% for blog in blogs %}
    
    <div class="card p-0">
        {% if blog.photo %}
            
            
        <img  class="card-img-top" src="{{ blog.photo.url }}" alt="Card image" style='width:100%;'>
    

    {% endif %}
        <div class="card-body text-dark">

            <a href="{% url 'club:detailblog' blog.id %}">{{ blog.titre }}</a>
            <p class="card-text"><span class="badge badge-info px-3 font-weight-light my-2">{{ blog.get_theme_display }}</span></p>
    

            <p>{{blog.contenu|striptags|truncatechars:50 }}</p>
            
            <p class="card-text text-secondary">{{ blog.date|date:'d F Y'  }}</p>
        
        </div>
    </div>
    {% endfor %}
</div>
</div>






{% endblock %}