{% extends 'fcpoto/base.html' %}

{% block title %} FC POTO | Blog {% endblock %}

{% block content %}
<div >
    {% load static %}
    <img class="teamimg w-75" src="{% static 'image/fullteam2.jpg' %}" alt="">
</div>
<br>


<div class='container text-center'>
   <p>Si vous souhaitez régler le paiement de votre licence en ligne, veuillez suivre ce lien.</p>

   <a href="https://www.helloasso.com/associations/fc-poto/adhesions/adhesion-licence-fc-poto-saison-2021-2022">
       <button>Je paye en ligne!</button>
   </a>

</div>
{% endblock %}