{% extends 'fcpoto/base.html' %}

{% block title %} FC POTO | Blog {% endblock %}

{% block content %}
<div >
    {% load static %}
    <img class="teamimg w-100" src="{% static 'image/teamdos.jpg' %}" alt="">
</div>
<br>


<div class='container text-center'>
    <h2>Comment devenir membre du FC POTO ?</h2>
    <p>La section ci-après s’adresse aux nouveaux adhérents du club et à tous ceux souhaitant renouveler leur adhésion</p>

    <div class='row text-left'>
        <div class="col-6">
            <h3>Liste des éléments nécessaires à l'inscription</h3>
            <ul>
                <li>Bulletin d’adhésion</li>
                <li>Signature du règlement intérieur</li>
                <li>2 photos d’identité</li>
                <li>Certificat médical de moins de 3 mois</li>
                <li>1 copie de la pièce d’identité</li>
                <li>Paiement de la cotisation</li>
            </ul>
        </div>
        <div class="col-6">
            <h3>Que comprend votre licence ?</h3>
            <ul>
                <li>Adhésion à l’association FC POTO</li>
                <li>Adhésion à la fédération FSGT (avec assurance)</li>
                <li>Participation aux matchs de Championnat et Coupes Occitane, de la Haute-Garonne, Coupe de France.</li>
                <li>Paiements de l’arbitrage (Equipe 11 uniquement)</li>
                <li>Participation aux collations de fin de match</li>
                <li>Participation aux repas et cadeaux de Noël</li>
                <li>Accès au réseau FC POTO</li>
                <li>Accès au groupe de discussion WhatsApp des joueurs</li>
                <li>Accès au Sporteasy (gestion des événements, des matchs)</li>
                <li>Tarifs préférentiels chez nos partenaires</li>
                <li>1 maillot du club FC POTO floqué (nouveaux adhérents)</li>
                <li>1 paire de chaussette aux couleurs du club (nouveaux adhérents)</li>
            </ul>
        </div>
    </div>
   <p>Si vous souhaitez régler le paiement de votre licence en ligne, veuillez suivre ce lien.</p>

   <a href="https://www.helloasso.com/associations/fc-poto/adhesions/adhesion-licence-fc-poto-saison-2021-2022">
       <button>Je paye en ligne!</button>
   </a>
<br>
<br>
</div>
{% endblock %}