{% extends 'fcpoto/base.html' %}


{% block title %} FC Poto | Accueil {% endblock %}
{% block content %}
<div class='text-center'>

    
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    
    {{ equipe }}
    
        <h2>Gardien</h2>
        <div class="container">
          <div class="row">
              
            {% for joueur in joueurs %}
            {% if joueur.poste == "gardien"  %}

          
            <div class="card p-0 mb-3 d-inline-block col-lg-3 col-sm-5 shadow-lg">
                        
                {% if joueur.photo_face %} 
                <div>
                    <img class="photojoueur" src="{{ joueur.photo_face.url }}" alt="Card image">
                    <div class="overlay">
                        <div class="text">
                           <p> N°{{ joueur.num_maillot }} </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                <div class="card-body py-1 bgblue">
                    <p class="card-text">Surnom : {{ joueur.user.username }}</p>
                    <p class="card-text">Prénom : {{ joueur.user.first_name|title }}</p>
                    <p class="card-text">{{ joueur.get_poste_display }}</p>
                </div>
                
                

            </div>

                {% endif %}
              {% endfor %}
          </div>
      </div>
     

        <h2>Défenseurs</h2>
        <div class="container">
          <div class="row">
              
            {% for joueur in joueurs %}
            {% if joueur.poste == "def" or joueur.poste == "lat" %}

          
            <div class="card p-0 mb-3 d-inline-block col-lg-3 col-sm-5 shadow-lg">
                        
                {% if joueur.photo_face %} 
                <div>
                    <img class="photojoueur" src="{{ joueur.photo_face.url }}" alt="Card image">
                    <div class="overlay">
                        <div class="text">
                           <p> N°{{ joueur.num_maillot }} </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                <div class="card-body py-1 bgblue">
                    <p class="card-text">Surnom : {{ joueur.user.username }}</p>
                    <p class="card-text">Prénom : {{ joueur.user.first_name|title }}</p>
                    <p class="card-text">{{ joueur.get_poste_display }}</p>
                </div>
                
                

            </div>

                {% endif %}
              {% endfor %}
          </div>
      </div>
      

       
        <h2>Milieux</h2>
        <div class="container">
          <div class="row">
              
            {% for joueur in joueurs %}
            {% if joueur.poste == "mdef" or joueur.poste == "moff"  %}

          
            <div class="card p-0 mb-3 d-inline-block col-lg-3 col-sm-5 shadow-lg">
                        
                {% if joueur.photo_face %} 
                <div>
                    <img class="photojoueur" src="{{ joueur.photo_face.url }}" alt="Card image">
                    <div class="overlay">
                        <div class="text">
                           <p> N°{{ joueur.num_maillot }} </p>
                        </div>
                    </div>
                </div>
                {% endif %}
                
                <div class="card-body py-1 bgblue">
                    <p class="card-text">Surnom : {{ joueur.user.username }}</p>
                    <p class="card-text">Prénom : {{ joueur.user.first_name|title }}</p>
                    <p class="card-text">{{ joueur.get_poste_display }}</p>
                </div>
                
                

            </div>
                {% endif %}
              {% endfor %}
          </div>
      </div>
        


        <h2>Attaquants</h2>
        <div class="container">
            <div class="row">
                
                {% for joueur in joueurs %}
                    {% if joueur.poste == "attaquant" or joueur.poste == "ailier"  %}

                    
                    <div class="card p-0 mb-3 d-inline-block col-lg-3 col-sm-5 shadow-lg">
                        
                        {% if joueur.photo_face %} 
                        <div>
                            <img class="photojoueur" src="{{ joueur.photo_face.url }}" alt="Card image">
                            <div class="overlay">
                                <div class="text">
                                   <p> N°{{ joueur.num_maillot }} </p>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        
                        <div class="card-body py-1 bgblue">
                            <p class="card-text">Surnom : {{ joueur.user.username }}</p>
                            <p class="card-text">Prénom : {{ joueur.user.first_name|title }}</p>
                            <p class="card-text">{{ joueur.get_poste_display }}</p>
                        </div>
                        
                        

                    </div>

                  {% endif %}
                {% endfor %}
            </div>
        </div>
        
        {% if equipe.equipe != 'ancien' %}
        <a href="{% url 'club:viewmatch' equipe.id %}">
            <button type="submit" class="d-inline-block btn btn-info">Tout les matchs</button>
        </a>
        {% endif %}
    
</div>
{% endblock %}