{% extends 'fcpoto/base.html' %}


{% block title %} FC Poto | Accueil {% endblock %}
{% block content %}

<br>
<br>
<div >
 
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'club:viewequipe' equipe.id %}">Effectif</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'club:viewmatch' equipe.id %}">Matchs</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'club:viewclassement' equipe.id %}">Classement</a>
    </li>
  </ul>

  <h5>Match</h5>
  <br>
  
  <div>
    
    
    

    {% for upcoming in upcomings %}
    <div class="card d-inline-block col-lg-3 col-sm-10 p-0 ml-4 mr-4">
      <div class="card-body text-center  p-0">
          <h5><span class="badge badge-info px-3 font-weight-light my-1">Match à venir</span></h5>
          
          <div class="row justify-content-center">
              <div class="col-3 p-0">
                  <p class="team-matchbox">FC POTO {{ upcoming.equipe.equipe|upper }}</p>
              </div>
              <div class="col-1 p-0">
                  {{upcoming.score_fcpoto}}
              </div>

              <div class="col-2 p-0">
                  <p class="match-info">
                      {{upcoming.date.day}}/{{upcoming.date.month}}
                      <br>
                      {{upcoming.lieu}} 
                 </p>
          </div>
              <div class="col-1 p-0">
                  {{upcoming.score_adversaire}}
              </div>

              <div class="col-3 p-0">
                  <p class="team-matchbox">{{upcoming.adversaire.nom}}</p>
              </div>
              <div class='row'>
                <div class="col-6">
                    <p class="team-matchbox">Saison : {{ upcoming.saison }}</p>
                    <p class="team-matchbox"> {{ upcoming.enjeu }}</p>
                </div>
                <div class="col-6">
                    <p class="team-matchbox">Journée : {{ upcoming.journee }}</p>
                </div>
              </div>
          </div>
        </div>
        </div>
        {% endfor %}



    {% for last in lasts %}
    <div class="card d-inline-block col-lg-3 col-sm-10 p-0 ml-4 mr-4">

    <div class="card-body text-center p-0 upcoming-bg">

      <h5><span class="badge badge-secondary px-3 font-weight-light my-2">Match terminé</span></h5>
      <div class="row justify-content-center">
          <div class="col-3 p-0">
              <p class="team-matchbox">FC POTO {{last.equipe.equipe}}</p>
          </div>
          <div class="col-1 p-0">
              {{last.score_fcpoto}}
          </div>

          <div class="col-2 p-0">
               <p class="match-info">
                   {{last.date.day}}/{{last.date.month}}
                   <br>
                   {{last.lieu}} 
              </p>
       </div>
          <div class="col-1 p-0">
              {{last.score_adversaire}}
          </div>

          <div class="col-3 p-0">
              <p class="team-matchbox">{{last.adversaire.nom}}</p>
          </div>
          <div class='row'>
            <div class="col-6">
                <p class="team-matchbox">Saison : {{ upcoming.saison }}</p>
                <p class="team-matchbox"> {{ upcoming.enjeu }}</p>
            </div>
            <div class="col-6">
                <p class="team-matchbox">Journée : {{ upcoming.journee }}</p>
            </div>
          </div>
      </div>
    </div>
  
  </div>
  {% endfor %}




<!--  <div class="row justify-content-center">
{% for match in matchs %}

  <div class="card d-inline-block col-lg-3 col-sm-1 p-0 ml-4 mr-4">
      <div class="card-body text-center upcoming-bg p-0">
      <p class="match-info">{{match.lieu}} , {{match.date}} {{ match.heure }} </p>
      <div class="row justify-content-center">
          <div class="col-3 p-0">
          <img id="logo-match" src="{{ match.equipe.logo.url }}" alt="">
          <p class="team-matchbox"> Fc Poto {{ match.equipe }}</p>
          </div>
          <div class="col-1 p-0">
            {{ match.score_fcpoto }}
          </div>
          
          <div class="col-2 p-0 versus">VS </div>
          <div class="col-1 p-0">
              {{match.score_adversaire}}
          </div>

          <div class="col-3 p-0">
              <p class="team-matchbox">{{match.adversaire}}</p>
          </div>
      </div>
      <div class='row'>
        <div class="col-6">
            <p>Saison : {{ match.saison }}</p>
            <p> {{ match.enjeu }}</p>
        </div>
        <div class="col-6">
            <p>Journée : {{ match.journee }}</p>
        </div>
      </div>
    </div>
  </div> -->
  
  

<!-- <div class="card mb-3 d-inline-block col-lg-4 col-sm-12">
    <div class="card-body text-center match-card">
      <p class="match-title">Lieu : {{ match.lieu }}</p>
      <div class="row">
          <div class="col-lg-4 col-sm-12">
            <img id="logo-match" src="{{ match.equipe.logo.url }}" alt="">
            <p> Fc Poto {{ match.equipe }}  </p>
          </div>
          <div class='col-1'>{{ match.score_fcpoto }}</div>
          <div class="col-lg-1 col-sm-12">
            <p>-</p>
          </div>
          <div class='col-1'>{{ match.score_adversaire }}</div>
          <div class="col-lg-4 col-sm-12">
            <p>  {{ match.adversaire }}</p>
          </div>
      </div>
      <div class='row'>
        <div class="col-6">
            <p>Saison : {{ match.saison }}</p>
            <p> {{ match.enjeu }}</p>
        </div>
        <div class="col-6">
            <p>Journée : {{ match.journee }}</p>
            <p>{{ match.date }} {{ match.heure }}</p>
        </div>
      </div>

    </div>
  </div> -->
  
 <!--  {% endfor %} -->
<!-- </div> -->
 



{% endblock %}