{% extends 'fcpoto/base.html' %}


{% block title %} FC Poto | Accueil {% endblock %}
{% block content %}


<div class='text-center'>

  {% load static %}
  {% if equipe.equipe == '11' %}

    <img class='teamimg mb-4' src="{% static 'image/fullteam.jpg' %}" alt="">
    
  {% elif equipe.equipe == '7A' %}
    <img class='teamimg mb-4' src="{% static 'image/7a.png' %}" alt="">
    
  {% elif equipe.equipe == '7B' %}
    <img class='teamimg mb-4' src="{% static 'image/7b.png' %}" alt="">
  
  {% endif %}


  
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item mx-2">
          <a class="nav-link active" href="">Effectif</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'club:viewmatch' equipe.id %}">Matchs</a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="{% url 'club:viewclassement' equipe.id %}">Classement</a>
        </li>
      </ul>
      
    
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}

    
    <br>
    Équipe {{ equipe }}
    
        <h2>Gardien</h2>
        <div class="container">
          <div class="row">
              
            {% for joueur in joueurs %}
            {% if joueur.poste == "gardien"  %}

          
            <div class="card p-0 mb-3 d-inline-block col-lg-3 col-sm-5 shadow-lg">
                        
              {% if joueur.photo_face %} 
              <div>
                  
                <img class="photojoueur" onmouseover="this.style.display='none'" src='{{ joueur.photo_face.url }}' > 
                <div class="overlay">
                  <img class="photojoueur"  onmouseover="this.style.display='inline-block'" src='{{ joueur.photo_dos.url }}'> 

                  <div class="text ">                             
                    <p class="card-text">{{ joueur.get_poste_display }}</p>
                 </div>
                </div> 
              </div>
              {% endif %}
              
              
              
              

          </div>
                {% endif %}
              {% endfor %}
          </div>
      </div>
     

        <h2>Défenseurs</h2>
        <div class="container">
          <div class="row">
              
            {% for joueur in joueurs %}
            {% if joueur.poste == "def" or joueur.poste == "lat" %}

          
            <div class="card p-0 mb-3 d-inline-block col-lg-3 col-sm-5 shadow-lg">
                        
              {% if joueur.photo_face %} 
              <div>
                  
                <img class="photojoueur" onmouseover="this.style.display='none'" src='{{ joueur.photo_face.url }}' > 
                <div class="overlay">
                  <img class="photojoueur"  onmouseover="this.style.display='inline-block'" src='{{ joueur.photo_dos.url }}'> 

                  <div class="text ">                             
                    <p class="card-text">{{ joueur.get_poste_display }}</p>
                 </div>
                </div> 
              </div>
              {% endif %}
              
              
              
              

          </div>

                {% endif %}
              {% endfor %}
          </div>
      </div>
      

       
        <h2>Milieux</h2>
        <div class="container">
          <div class="row">
              
            {% for joueur in joueurs %}
            {% if joueur.poste == "mdef" or joueur.poste == "moff"  %}

          
            <div class="card p-0 mb-3 d-inline-block col-lg-3 col-sm-5 shadow-lg">
                        
              {% if joueur.photo_face %} 
              <div>
                  
                <img class="photojoueur" onmouseover="this.style.display='none'" src='{{ joueur.photo_face.url }}' > 
                <div class="overlay">
                  <img class="photojoueur"  onmouseover="this.style.display='inline-block'" src='{{ joueur.photo_dos.url }}'> 

                  <div class="text ">                             
                    <p class="card-text">{{ joueur.get_poste_display }}</p>
                 </div>
                </div> 
              </div>
              {% endif %}
              
              
              
              

          </div>
                {% endif %}
              {% endfor %}
          </div>
      </div>
        


        <h2>Attaquants</h2>
        <div class="container">
            <div class="row">
                
                {% for joueur in joueurs %}
                    {% if joueur.poste == "attaquant" or joueur.poste == "ailier"  %}

                    
                    <div class="card p-0 mb-3 d-inline-block col-lg-3 col-sm-5 shadow-lg">
                        
                        {% if joueur.photo_face %} 
                        <div>
                            
                          <img class="photojoueur" onmouseover="this.style.display='none'" src='{{ joueur.photo_face.url }}' > 
                          <div class="overlay">
                            <img class="photojoueur"  onmouseover="this.style.display='inline-block'" src='{{ joueur.photo_dos.url }}'> 

                              <div class="text ">                             
                                 <p class="card-text">{{ joueur.get_poste_display }}</p>
                              </div>
                          </div> 
                        </div>
                        {% endif %}
                        
                        
                        
                        

                    </div>

                  {% endif %}
                {% endfor %}
            </div>
        </div>
        
       
    
</div>
{% endblock %}