{% extends 'fcpoto/base.html' %}

{% block content %}

<div class='container-fluid'>
<br>
<br>

   <h1> Conditions Générales de Vente</h1>
Les présentes Conditions Générales de Vente ont pour objet de régir l’ensemble des droits et obligations des parties dans le cadre de toutes opérations conclues sur le site fcpoto.com 

Le site fcpoto.com est la propriété exclusive de FOOTBALL CLUB POTO association active depuis le 5 Juillet 2010, dont le siège social est 11 rue de Giroussens 31500 TOULOUSE, FRANCE.
 
En souscrivant à tout produit et/ou service présenté sur le site fcpoto.com, les clients déclarent adhérer sans réserve aux dites conditions générales de vente.

Les présentes conditions générales constituent l’intégralité des droits et obligations des parties dans le cadre de leurs relations contractuelles.

Aucune condition spécifique, à l’initiative du client, ne pourra venir s’ajouter et/ou se substituer aux présentes conditions générales.
 
Le fait pour le site fcpoto.com de ne pas se prévaloir d’un manquement par le client à l’une quelconque des obligations contenues dans les présentes, ne saurait être interprété pour l’avenir comme une renonciation à l’obligation en cause.

 
<h3>ARTICLE 1. Objet du contrat</h3>


 
Le client reconnaît avoir pris connaissance des présentes Conditions Générales de Vente préalablement à toute utilisation et/ou souscription de tous produits et/ou services sur le site fcpoto.com

En conséquence, toute utilisation et/ou souscription de tous produits et/ou services sur le site fcpoto.com entraîne l’acceptation pleine et entière des présentes Conditions Générales de Vente et des éventuelles conditions particulières à chaque produit présenté sur le site fcpoto.com

 
<h3>ARTICLE 2. Conditions générales de participation et/ou souscription aux prestations et services présentés par le site fcpoto.com</h3>

 
Les prestations et services proposés sur le site fcpoto.com le sont à titre d’information et de divertissement et ne saurait être considéré comme émanant d’un professionnel de la finance tel que, à titre d’exemple, un expert comptable, avocat fiscaliste, conseiller en gestion de patrimoine indépendant.

 
Le client est seul responsable de l’utilisation qu’il fera des prestations et services proposés par le site fcpoto.com et la responsabilité de l’association FOOTBALL CLUB POTO de son président et/ou membres du bureau, de ses préposés et/ou de tout autre personne intervenant à l’occasion de l’un quelconque des prestations et services proposés sur le site fcpoto.com, ne saurait être recherchée pour toutes les conséquences, quelles qu’elles soient, de toute utilisation et/ou mise en application malveillante, inappropriée ou illégale de ces prestations et services par le client, sous quelque manière que ce soit.

Les prestations et services proposés sur le site fcpoto.com s’adresse à tout public majeur.
 
 
 
<h3>ARTICLE 3. Modalités de passation des commandes</h3>

 
La passation d’une commande sur le site fcpoto.com est effectuée via un formulaire de paiement en ligne sur le site fcpoto.com
 
Le paiement de la commande est effectué via le site, Stripe, ou toute autre plateforme de paiement en ligne sécurisée présentant des garanties équivalentes, et nécessite par conséquent que le client dispose d’une boîte aux lettres électronique d’envoi et de réception valable. A défaut, il ne pourra recevoir de confirmation écrite de sa commande. Un paiement main à main peut dans certains cas être effectué et la facture devra être demandée en cas de besoin.Les informations contractuelles lui seront présentées en langue française.

 
La procédure de passation des commandes sur le site internet fcpoto.com comporte les étapes suivantes :
 
Le client sélectionne le produit qu’il souhaite commander.
Le client est ensuite redirigé vers la plateforme de paiement sécurisé Stripe, sur laquelle un récapitulatif de la commande lui sera présenté, comprenant notamment la prestation choisie, le prix total, ses coordonnées, le mode de livraison, le mode de paiement.
 
Aux termes des dispositions des articles 1366 et suivants du Code civil, tout bon de commande signé du consommateur par « double clic » constitue une acceptation irrévocable qui ne peut être remise en cause que dans les cas prévus dans les présentes Conditions Générales de Vente.

 
Le « double clic » associé à la procédure de passation de commande décrite précédemment constitue une signature électronique. Cette signature électronique a valeur entre les parties de signature manuscrite, au sens des dispositions des articles 1366 et 1367 du Code civil.
 
La commande sera enregistrée lors de la validation par le client des différents renseignements contenus sur la page de règlement du site Stripe.

Le produit et/service sera définitivement conclu après l’acceptation du paiement par la banque du client.

La date et l’heure d’effet du contrat prend effet à l’acceptation du paiement par la banque du client.
 
Après la validation définitive de la commande, un e-mail de confirmation récapitulant l’ensemble des éléments relatifs à celle-ci sera envoyé au client.

 
<h3>ARTICLE 4. Prix des produits et prestations</h3>

Tous les prix des prestations et produits proposés par le site fcpoto.com sont indiqués en euros

 
<h3>ARTICLE 5. Modalités d’exécution et de livraison de la commande</h3>

Les prestations et produits proposés sur le site fcpoto.com sont livrés par voie postale exclusivement, à l’adresse  indiquée par le client lors de la passation de sa commande. Les clients ayant choisis la remise en main propre se verra remis de sa commande sur un lieu convenu entre les deux parties.
 
Par conséquent, FC POTO ne saurait être tenue pour responsable en cas d’erreur de saisie de l’adresse mail du client lors de la commande.

 
De même, FC POTO ou ses représentants ne saurait être tenue responsable des erreurs de contenu, des virus ou de tout autre élément pouvant porter atteinte à l’intégrité du système électronique du client, ainsi que d’une éventuelle défaillance technique de son système de paiement en ligne sécurisé, quel qu’il soit.

 
La commande sera émise automatiquement par un service d’autorépondeur (lien permettant de créer son espace membre) au plus tard dans un délai de vingt quatre (24) heures à compter de la date et de l’heure auxquelles le Client a passé sa commande, sous réserve de l’acceptation de son paiement par sa banque.

 
Si le client égare ses identifiants lors de sa commande. Il peut formuler une demande dans les 48H pour que son accès membre soit réinitialisé.
Dans ces cas, la mise à disposition ultérieure des identifiants à la plateforme membre dégagera le site fcpoto.com de toute responsabilité envers le client.

Pour les produits ou prestations consistant en un abonnement la livraison s’entend par la mise à disposition du premier module, session ou document de l’abonnement concerné.

Pour les produits ou prestations consistant en une formation de plus de deux mois (soit deux modules de formation ou plus) la mise à disposition des modules s’effectuera au rythme d’un module par mois.

Conformément aux dispositions légales en vigueur, le site fcpoto.com garantit le client contre les défauts de conformité éventuels des prestations et produits livrés.

En cas de défaut de conformité ou de mauvais fonctionnement de l’un de ces produits ou prestations, le client devra formuler par email, à l’adresse mail contact@fcpoto.com, au plus tard le deuxième jour ouvré suivant la commande, toute réclamation.
 
Toute réclamation formulée au-delà de ce délai et/ou non effectuée selon les modalités ci-dessus définies sera rejetée sans possibilité de recours et dégagera le site fcpoto.com de toute responsabilité envers le client.

 
<h3>ARTICLE 6. Modalités de remboursement</h3>

Aucun remboursement n’est effectué après commande du produit.

Aucun remboursement n’est effectué après le téléchargement en tout ou partie du produit commandé.

Le remboursement de la prestation commandée n’est possible, que si une telle faculté est mentionnée sur la page de vente de la prestation concernée et sous les conditions qui y sont précisées.

A titre informatif, la réglementation exclut du délai de rétractation légal la “fourniture d’enregistrements audio ou vidéo, ou de logiciels informatiques lorsqu’ils ont été descellés par le consommateur”. Le délai de rétractation légal est donc nul à partir du moment où le produit commandé est consulté, téléchargé partiellement ou en totalité.

La date et l’heure de prise d’effet de la garantie correspond à la date et l’heure de l’acceptation du paiement par la banque du client.

 
<h3>Article 6.1. Exclusions générales</h3>

 
Sont également expressément exclus de toute possibilité de remboursement :

Toute demande émanant d’un client ayant refusé de participer à tout ou partie des activités contenues dans le programme préparé par l’instructeur.

Toute demande émanant d’un client ayant refusé d’appliquer un ou plusieurs des conseils de l’instructeur.

Toute demande hors délai.

Les demandes émanant de sociétés ou d’entreprises.

Les demandes de remboursement suite à l’achat d’un pack promotionnel.

Exemples :

Réduction sur le Poto Shop de 20% 

Sous réserve du respect par le client de ces formalités, le remboursement sera effectué dans les 48 h.

 
<h3>ARTICLE 7. Informations Personnelles du client</h3>

 
Les diverses informations demandées au client lors de la passation de sa commande sont nécessaires au traitement de celle-ci et pourront être communiquées aux différents partenaires contractuels de la société (comptables, juristes…), ainsi qu’à toute autorité compétente, dans le cadre de tout litige pouvant survenir durant le cours des relations contractuelles entre les parties.

Les registres informatisés, conservés sur les serveurs du site fcpoto.com, ainsi que sur les serveurs de ses établissements bancaires, sont effectués sur un serveur fiable et sécurisé.

 
<h3>ARTICLE 8. Propriété intellectuelle</h3>

 
Les produits et prestations proposés sur le site fcpoto.com, ainsi que, plus généralement, l’intégralité du contenu présenté sur ce site, sont et demeurent la propriété de FC POTO, selon des termes du Code de la Propriété intellectuelle.

Toute reproduction, cession ou exploitation de l’un quelconque de ces produits et/ou prestations, sous quelque manière que ce soit, sans le consentement de leur auteur est formellement interdit et entraînera à l’encontre du contrevenant toutes les suites judiciaires, pénales et/ou civiles, prévues par la loi.

 
<h3>ARTICLE 9. Loi applicable</h3>

 
Le présent contrat est soumis à la loi française et tout litige pouvant résulter de l’application de ces conditions générales sera de la compétence exclusive des juridictions françaises.
 

</div>
{% endblock %}