{% extends 'fcpoto/base.html' %}


{% block title %} FC Poto | Accueil {% endblock %}
{% block content %}
<div >
    {% load static %}
    <img class="teamimg" src="{% static 'image/fullteam.jpg' %}" alt="">
</div>
<br>
<div class='container-fluid bg-light'>

    
<div class=" row justify-content-center mb-4">

    <div class="card d-inline-block col-lg-3  col-sm-10 p-0 ml-4 mr-4">
        <div class="card-body text-center  p-0">
            <h5 class="bgblue mb-0 py-1">Équipe à 11</h5>
            {% for upcoming in upcomings11 %}
            <h5><span class="badge badge-info px-3 font-weight-light my-1">Prochain match</span></h5>
            
            <div class="row justify-content-center">
                <div class="col-3 p-0">
                    <p class="team-matchbox">FC POTO {{ upcoming.equipe.equipe|upper }}</p>
                </div>
                <div class="col-1 p-0">
                    {{upcoming.score_fcpoto}}
                </div>

                <div class="col-2 p-0">
                    <p class="match-info">
                        {{upcoming.date.day}}/{{upcoming.date.month}}
                        <br>
                        {{upcoming.lieu}} 
                   </p>
            </div>
                <div class="col-1 p-0">
                    {{upcoming.score_adversaire}}
                </div>

                <div class="col-3 p-0">
                    <p class="team-matchbox">{{upcoming.adversaire.nom}}</p>
                </div>
            </div>
            {% endfor %}
        </div>



        <div class="card-body text-center p-0 upcoming-bg">
            {% for last in last11 %}

            <h5><span class="badge badge-secondary px-3 font-weight-light my-2">Dernier match</span></h5>
            <div class="row justify-content-center">
                <div class="col-3 p-0">
                    <p class="team-matchbox">FC POTO {{last.equipe.equipe}}</p>
                </div>
                <div class="col-1 p-0">
                    {{last.score_fcpoto}}
                </div>

                <div class="col-2 p-0">
                     <p class="match-info">
                         {{last.date.day}}/{{last.date.month}}
                         <br>
                         {{last.lieu}} 
                    </p>
             </div>
                <div class="col-1 p-0">
                    {{last.score_adversaire}}
                </div>

                <div class="col-3 p-0">
                    <p class="team-matchbox">{{last.adversaire.nom}}</p>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>






    <div class="card d-inline-block col-lg-3 col-sm-10 p-0 ml-4 mr-4">
        <div class="card-body text-center  p-0">
            <h5 class="bgblue mb-0 py-1">Équipe à 7 A</h5>
            {% for upcoming in upcomings7a %}
            <h5><span class="badge badge-info px-3 font-weight-light my-1">Prochain match</span></h5>
            
            <div class="row justify-content-center">
                <div class="col-3 p-0">
                    <p class="team-matchbox">FC POTO {{ upcoming.equipe.equipe|upper }}</p>
                </div>
                <div class="col-1 p-0">
                    {{upcoming.score_fcpoto}}
                </div>

                <div class="col-2 p-0">
                    <p class="match-info">
                        {{upcoming.date.day}}/{{upcoming.date.month}}
                        <br>
                        {{upcoming.lieu}} 
                   </p>
            </div>
                <div class="col-1 p-0">
                    {{upcoming.score_adversaire}}
                </div>

                <div class="col-3 p-0">
                    <p class="team-matchbox">{{upcoming.adversaire.nom}}</p>
                </div>
            </div>
            {% endfor %}
        </div>



        <div class="card-body text-center p-0 upcoming-bg">
            {% for last in last7a %}

            <h5><span class="badge badge-secondary px-3 font-weight-light my-2">Dernier match</span></h5>
            <div class="row justify-content-center">
                <div class="col-3 p-0">
                    <p class="team-matchbox">FC POTO {{last.equipe.equipe}}</p>
                </div>
                <div class="col-1 p-0">
                    {{last.score_fcpoto}}
                </div>

                <div class="col-2 p-0">
                     <p class="match-info">
                         {{last.date.day}}/{{last.date.month}}
                         <br>
                         {{last.lieu}} 
                    </p>
             </div>
                <div class="col-1 p-0">
                    {{last.score_adversaire}}
                </div>

                <div class="col-3 p-0">
                    <p class="team-matchbox">{{last.adversaire.nom}}</p>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>



    <div class="card d-inline-block col-lg-3 col-sm-10 p-0 ml-4 mr-4">
        <div class="card-body text-center  p-0">
            <h5 class="bgblue mb-0 py-1">Équipe à 7 B</h5>
            {% for upcoming in upcomings7b %}
            <h5><span class="badge badge-info px-3 font-weight-light my-1">Prochain match</span></h5>
            
            <div class="row justify-content-center">
                <div class="col-3 p-0">
                    <p class="team-matchbox">FC POTO {{ upcoming.equipe.equipe|upper }}</p>
                </div>
                <div class="col-1 p-0">
                    {{upcoming.score_fcpoto}}
                </div>

                <div class="col-2 p-0">
                    <p class="match-info">
                        {{upcoming.date.day}}/{{upcoming.date.month}}
                        <br>
                        {{upcoming.lieu}} 
                   </p>
            </div>
                <div class="col-1 p-0">
                    {{upcoming.score_adversaire}}
                </div>

                <div class="col-3 p-0">
                    <p class="team-matchbox">{{upcoming.adversaire.nom}}</p>
                </div>
            </div>
            {% endfor %}
        </div>



        <div class="card-body text-center p-0 upcoming-bg">
            {% for last in last7b %}

            <h5><span class="badge badge-secondary px-3 font-weight-light my-2">Dernier match</span></h5>
            <div class="row justify-content-center">
                <div class="col-3 p-0">
                    <p class="team-matchbox">FC POTO {{last.equipe.equipe}}</p>
                </div>
                <div class="col-1 p-0">
                    {{last.score_fcpoto}}
                </div>

                <div class="col-2 p-0">
                     <p class="match-info">
                         {{last.date.day}}/{{last.date.month}}
                         <br>
                         {{last.lieu}} 
                    </p>
             </div>
                <div class="col-1 p-0">
                    {{last.score_adversaire}}
                </div>

                <div class="col-3 p-0">
                    <p class="team-matchbox">{{last.adversaire.nom}}</p>
                </div>
            </div>
            {% endfor %}
        </div>


    </div>
</div>
</div>











<!-- blog -->
<div class='container-fluid'>
<div class='bg-light mb-4 '>
    <h3>NOTRE ACTUALITÉ</h3>


    <div class="row justify-content-center ">
        {% for blog in blogs %}

        <a href="{% url 'club:detailblog' blog.id %}">
        <div class="card col-lg-3 col-sm-11 p-0 mb-3 mx-4">
            {% if blog.photo %}
            
            
                <img  class="card-img-top" src="{{ blog.photo.url }}" alt="Card image" style='width:100%;'>
            

            {% endif %}
            <div class="card-body text-dark">
                <a href="{% url 'club:detailblog' blog.id %}">{{ blog.titre }}</a>
                <h5><span class="badge badge-info px-3 font-weight-light my-2">{{ blog.get_theme_display }}</span></h5>
               

                <p>{{blog.contenu|striptags|truncatechars:50 }}</p>

                <p class="card-text text-secondary">{{ blog.date|date:'d F Y' }}</p>

            </div>
        </div>
    </a>
        {% endfor %}
    </div>
    <div class='text-center'>
    <a href="{% url 'club:viewblogs' %}" class="btn btn-info mb-3 mx-auto">Toute l'actualité</a>
</div>
</div>
</div>


<!-- anniv -->
<div class='container-fluid '>
    <h3>ANNIVERSAIRES DU MOIS</h3>

    <div class='row'>
        {% for month in month_anniv %}
        <div class="card p-0 mb-3 mx-auto d-inline-block col-lg-2 col-md-2 col-sm-2 shadow-lg">
            
            <img class="photojoueur" src=" {{ month.photo_face.url }}" alt="Thumbnail image">
            
            
            
            <div class="card-body py-1 text-center ">
                <h5 class='mb-0'> {{ month.user.first_name|title }} </h5>
                <h5 class='mb-0'> {{ month.date_naissance.day }} {{ month.date_naissance|date:'F' }}</h5>
                
            </div>
            
            
            
        </div>
        {% endfor %}
    </div>
    <div >
    <h4>Joyeux anniversaire à toi Poto! On fête ça quand ?</h4>
    <h4>Fais péter ton barbeuc avec tout ce qui va bien! On sera tous ensemble près de toi pour célébrer cet évènement!</h4>
    <br>
</div>
</div>


<div class='container-fluid bgblue '>
<!-- reseau pro -->


    <h3 class='pt-2'>RÉSEAU PRO</h3>
    <div class='text-center'>
        <img src="{% static 'image/reseau.png' %}" alt="">
    </div>
    <br>
    <div class='row'>
    <div class="col-8">
    <h5>Le FC POTO compte une multitude de compétences professionnelles et de matières grises.</h5>
    <h5>   Venez découvrir et enrichir le réseau ici :
    </h5>
    </div>
</div>
    
    <div class='text-center'>
        <a href="{% url 'club:viewemploi' %}" class="btn btn-info mb-3 ">Tout le réseau pro</a>
    </div>
</div>






<!-- partenaires -->




<div class='container-fluid'>
    <h3 class='pt-2'>PARTENAIRES</h3>
    <div>

    <p>Nous remercions nos partenaires qui nous font confiance et qui nous encouragent dans notre démarche et nos valeurs.</p>
    
    <div class="slider">
        <div class="slide-track">
            {% for partenaire in partenaires %}
            <div class="slide">
                <a href="#">
                    <img src="{{ partenaire.logo_entreprise.url }}" height="auto" width="200" alt="" />
                </a>
            </div>
            {% endfor %}
        </div>
    </div> 

<!--   {% for partenaire in partenaires %}

    <div class="card col-3 ">
        <div class="card-body text-dark">
            <a href="https://www.darty.com/">
                <img src="{{ partenaire.logo_entreprise.url }}" height="150px" alt="" />
            </a>
            <p class="card-text">Entreprise :{{ partenaire.entreprise }}</p>

            <p class="card-text">Description :{{ partenaire.description }}</p>
            {% if partenaire.logo_entreprise %}
            <img src="{{ partenaire.logo_entreprise.url }}" alt="">
            {% endif %}
            <br>

        </div>
    </div>


    {% endfor %} -->


  <!--   <div id="demo" class="carousel slide" data-ride="carousel">

        
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active"></li>
          <li data-target="#demo" data-slide-to="1"></li>
          <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        
        
        <div class="container carousel-inner no-padding">
          <div class="carousel-item active">
            {% for partenaire in partenaires %}
            <div class="col-xs-3 col-sm-3 col-md-3">
                <img src="{{ partenaire.logo_entreprise.url }}" alt="" />
            </div> 
            {% endfor %}   
        
        </div>
        
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      </div>
    </div> -->
    </div>
      







{% endblock %}